@font-face {
  font-family: LatoLig;
  src: url("fonts/Lato-Lig.otf") format("opentype");
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato-Reg.otf") format("opentype");
}

@font-face {
  font-family: LatoBla;
  src: url("fonts/Lato-Bla.otf") format("opentype");
}

/* line 19, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6, p, a, label, textarea {
  font-family: Lato, sans-serif;
}

/* line 22, ../sass/screen.sass */
ul, li {
  list-style-type: none !important;
}

/* line 25, ../sass/screen.sass */
body {
  background-color: #f0f0f5;
}

/* line 31, ../sass/screen.sass */
.nav-icon {
  color: white;
  position: absolute;
  font-size: 16px;
  top: 20px;
}

/* line 37, ../sass/screen.sass */
.left {
  float: left;
  left: 10px;
}

/* line 42, ../sass/screen.sass */
.right {
  float: right;
  right: 10px;
  background-color: whitesmoke;
}

/* line 48, ../sass/screen.sass */
textarea, input {
  outline: none;
  box-shadow: none;
  box-shadow: none !important;
}

/* line 53, ../sass/screen.sass */
#cover {
  height: 100%;
  width: 100%;
  background-color: #ff811a;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}
/* line 61, ../sass/screen.sass */
#cover > img {
  width: 100%;
  height: auto;
}

/* line 65, ../sass/screen.sass */
.ui-focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 5px solid black !important;
  box-shadow: none !important;
}

/* line 73, ../sass/screen.sass */
input:focus {
  outline: none !important;
  outline-style: none;
  border: 2px solid #32323c !important;
  box-shadow: none !important;
}

/* line 80, ../sass/screen.sass */
#map {
  width: 100%;
  height: 200px;
}

/* line 84, ../sass/screen.sass */
#locations {
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  height: 270px;
  overflow-y: scroll;
}
/* line 90, ../sass/screen.sass */
#locations > li {
  width: 100%;
  padding: 1em 0em 1em 3em;
  color: #282d32;
  cursor: pointer;
  border-bottom: 1px #777777 solid;
}
/* line 99, ../sass/screen.sass */
#locations > li:nth-child(even) {
  background: #f3f3f3;
}

/* line 103, ../sass/screen.sass */
body {
  font-family: Lato, sans-serif;
}

/* line 106, ../sass/screen.sass */
label {
  font-weight: 300;
  font-size: 20px;
}

/* line 111, ../sass/screen.sass */
header {
  width: 100%;
  background: #16a085;
  margin-bottom: 6em;
  text-align: center;
  padding: 10px;
}
/* line 117, ../sass/screen.sass */
header h1 {
  line-height: 1;
  font-family: LatoLig;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 26px;
}

/* line 125, ../sass/screen.sass */
header.no-bottom-margin {
  margin-bottom: 0;
}

/* line 128, ../sass/screen.sass */
header.subheader {
  background: #004b30;
  margin-bottom: 1em;
}
/* line 131, ../sass/screen.sass */
header.subheader h3 {
  margin: 0;
  font-size: 12px;
  color: white;
}

/* line 136, ../sass/screen.sass */
header.no-padding-bottom {
  margin-bottom: 0;
}

/* line 139, ../sass/screen.sass */
.input-group-addon {
  width: 40px;
}

/* line 143, ../sass/screen.sass */
.input-group > input {
  width: 80%;
}

/* line 146, ../sass/screen.sass */
.field-item {
  margin-bottom: 20px;
  width: 100%;
}
/* line 149, ../sass/screen.sass */
.field-item > div.col-xs-4 {
  text-align: right;
}
/* line 152, ../sass/screen.sass */
.field-item > div.col-xs-8 > textarea, .field-item > div.col-xs-8 > select {
  width: 80%;
}

/* line 155, ../sass/screen.sass */
ul {
  padding: 0;
}
/* line 158, ../sass/screen.sass */
ul .list-item {
  list-style: none;
}

/* line 164, ../sass/screen.sass */
.msg-message {
  font-size: 22px;
}

/* line 171, ../sass/screen.sass */
.msg-timestamp {
  color: #555555;
}

/* line 175, ../sass/screen.sass */
#msg-list li {
  list-style: none;
  background: #f3f3f3;
  padding: 10px;
  border: 1px #f0f0f0 solid;
  margin-bottom: 14px;
  border-radius: 5px;
  position: relative;
}
/* line 183, ../sass/screen.sass */
#msg-list li i.icon-user {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: #004b30;
}

/* line 193, ../sass/screen.sass */
.btn-container {
  text-align: center;
}

/* line 196, ../sass/screen.sass */
.btn-wide {
  font-size: 18px;
  width: 80%;
  height: 2em;
  margin-top: 3em;
}

/* line 202, ../sass/screen.sass */
.btn.btn-blue {
  background: #38c2a7;
  color: white;
  font-family: LatoBla;
}
/* line 206, ../sass/screen.sass */
.btn.btn-blue:hover {
  background: #27b196;
}

/* line 208, ../sass/screen.sass */
.content {
  margin-bottom: 30px;
}

/* line 211, ../sass/screen.sass */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 34px;
  padding-left: 12px;
  color: #999999;
}

/* line 217, ../sass/screen.sass */
.chosen-container-multi .chosen-choices {
  height: 34px;
  border: 1px solid #cccccc;
}

/* line 221, ../sass/screen.sass */
.chosen-container-multi .chosen-choices li.search-choice {
  margin-top: 6px;
}

/* line 224, ../sass/screen.sass */
#attendee {
  width: 100%;
  display: block;
  padding-left: 20px;
  border-bottom: 1px #777777 solid;
}

/* line 232, ../sass/screen.sass */
.aname {
  font-size: 2em;
  font-family: LatoBla;
  display: block;
  float: left;
  padding: 0.2em 0 0.2em 0;
  width: 100%;
}

/* line 240, ../sass/screen.sass */
.aemail, .aphone {
  width: auto;
  font-size: 1em;
  display: block;
  clear: both;
}

/* line 250, ../sass/screen.sass */
#chatbox-input {
  width: 100%;
  border: 1px solid #cccccc;
  height: 34px;
  color: #333333;
}

/* line 259, ../sass/screen.sass */
.chat-menu-header > div {
  text-align: center;
}
/* line 262, ../sass/screen.sass */
.chat-menu-header > div > h1 > span.big {
  font-size: 60px;
  display: block;
}

/* line 268, ../sass/screen.sass */
.chat-menu-table {
  height: 300px;
  overflow-y: scroll;
}
/* line 273, ../sass/screen.sass */
.chat-menu-table i {
  color: #38c2a7;
}
/* line 277, ../sass/screen.sass */
.chat-menu-table tr td {
  width: 70%;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px #777777 solid;
}
/* line 283, ../sass/screen.sass */
.chat-menu-table tr td a {
  font-size: 20px;
  color: #333333;
  line-height: 3em;
}
/* line 287, ../sass/screen.sass */
.chat-menu-table tr td a:hover {
  text-decoration: none;
}
/* line 289, ../sass/screen.sass */
.chat-menu-table tr td:nth-child(even) {
  width: 30%;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px #777777 solid;
}

/* line 296, ../sass/screen.sass */
table {
  width: 100%;
}

/* line 299, ../sass/screen.sass */
.chat-menu-table tr td a.btn-disabled {
  color: #cccccc;
}
